body {
	margin: 0;
	background-color: #F8EEE7;
	text-align: center;
}

header {
	background-color: #94618E;
	color: white;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

#status {
	color: #49274A;
	font-size: 30px;
	font-weight: bold;
	height: 30px;
}

/* button style */

button {
  background:#94618E;
  color:#F8EEE7;
  border:none;
  position:relative;
  height:60px;
  font-size:1.4em;
  padding:0 2em;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
  margin-top: 15px;
}

button:hover {
  background:#F8EEE7;
  color:#94618E;
}

button:before,button:after {
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: #94618E;
  transition:400ms ease all;
}

button:after {
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}

button:hover:before,button:hover:after {
  width:100%;
  transition:800ms ease all;
}

button:disabled {
	opacity: 0.5;
}

/* squares */

#game-squares {
	margin: 5px 25%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.outer-square {
	width: 28%;
	padding-top: 30%;
	margin: 5px;
	background-color: #F4DECB;
	cursor: pointer;
	position: relative;
	border: 1px #F4DECB solid;
}

.outer-square:hover {
	border: 1px #49274A solid;
}

.inner-square {
	position: absolute;
	top: 0;
	left: 0;
	width: 30%;
	padding-top: 40%;
	margin: 35%;
	display: flex;
	flex-wrap: wrap;
	opacity: 0;
}

.signal {
	position: absolute;
	top: 0;
	left: 0;
	background: #49274A;
	width:40%;
	padding-top: 40%;
	margin-left: 30%;
}

.run-fadein {
	animation: 3s fadein forwards;
}

@keyframes fadein {
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

.run-colorin {
	animation: 3s colorin forwards;
}

@keyframes colorin {
	50% {
		background: #49274A;
	}
	100% {
		background: #F4DECB;
	}
}