body {
	margin: 0;
	background-color: #E9E9E9;
	color: white;
}

/* header */

header {
	background-color: #A9B7C0;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

h1 {
	text-align: center;
}


/* card */

.container {
	display: flex;
	justify-content: space-between;
	margin: 20px 50px;
	flex-wrap: wrap;
}

.card {
	width: 15%;
	padding-top: 15%;
	margin: 5px auto;
	background-color: #CCCBC6;
	border: 3px solid white;
	border-radius: 10px;
	position: relative;
	cursor: pointer;
}

.colorCard {
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 10px;
	width:100%;
	height:100%;
	z-index: -1;
	background: black;

}

/* game status */

.status {
	text-align: center;
}

.status p {
	color: #CCCBC6;
	font-weight: bold;
	font-size: 30px;
	text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}

#instant-status-div {
	padding: 20px 30px;
	position: relative;
}

#instant-status {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	text-align: center;
	color: #CCCBC6;
}

@media (max-width: 700px) {
	.card {
		width: 30%;
		padding-top: 30%;
	}
}